.checkout-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;

    .image-container {
        width: 23%;
        padding-right: 15px;

        img {
            width: 100%;
        }
    }

    .name,
    .quantity,
    .price {
        width: 23%;
    }

    .quantity {
        display: flex;
        flex-direction: row;
        
        .arrow {
            cursor: pointer;
            padding: 0 10px;
        }
    }

    .remove-button {
        padding-left: 12px;
        cursor: pointer;
    }
}